# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
.metadata
devtools_options.yaml

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
/android/.gradle/
/android/.kotlin/
/android/build/
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties

# iOS related
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/engine/
/ios/ServiceDefinitions.json

# Windows related
/windows/flutter/ephemeral/

# Release
scripts/release

# NSIS Installer
scripts/windows_installer/FilesToInstall/
scripts/windows_installer/Output/
